* {
  border-radius: 0 !important;
}

body{
    background-image:url('/images/cab-interior-bg-dark.jpg');
    background-position:center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


div.body-container {
    margin-top: 5em;
}
.countdown-badge {
    font-size: 30px;
    padding: .5em;
    margin-left:1em;
}
.progress-bar {
    font-size: 30px;
    line-height: 60px;
}
.progress {
    height: 100%;
}

.alert {
    text-align: center;
    font-size: 30px;
}


.airbrake-initial-test-charge, .airbrake-continuity-test-charge, .charge-trainline-charge {
    margin-top: 1em;
}
.airbrake-initial-test-charge-progress, .airbrake-continuity-test-charge-progress, .charge-trainline-charge-progress {
    margin-top: 1em;
}
.airbrake-initial-test-confirm-badge, .airbrake-continuity-test-confirm-badge, .charge-trainline-confirm-badge {
    margin-top: 1em;
}


.airbrake-continuity-test-set-inspect{
    margin-top: 1em;
}


.airbrake-intermediate-test-charge {
    margin-top: 1em;
}
.airbrake-intermediate-test-charge-progress {
    margin-top: 1em;
}
.airbrake-intermediate-test-confirm-badge {
    margin-top: 1em;
}
.locomotive-inspection-button{
    min-width:10em;
}
.locomotive-inspection-badge{
    float:right;
}

li.list-group-item button, li.list-group-item a.btn{
width:100%;
text-align:left;
vertical-align: middle;
}

li.list-group-item button span.badge{
float:right;
}

button.btn span.badge {
  
  color: #ffffff;
  background-color: #999999;
  
}

button.btn span.badge-error {
  background-color: #b94a48;
}

button.btn span.badge-warning {
  background-color: #f89406;
}

button.btn span.badge-success {
  background-color: #468847;
}

button.btn span.badge-info {
  background-color: #3a87ad;
}

button.btn span.badge-inverse {
  background-color: #333333;
}

ol.inspection-list {
    margin-bottom:1em;
}

.body-container ul.nav{
	margin-bottom:2em;
}

.homepage-buttons li{
	font-size:24px;
}